<app-admin-header></app-admin-header>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAdd">Crear nueva publicación</button>
  
  <div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 100%;">
      <div class="modal-content" style="width: 90%; margin: 0 auto;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data">
            <div class="form-group">
              <h4>Titulo</h4>
              <input name="titlePost" type="text" class="form-control" required="required" [(ngModel)]="postModel.titlePost" id="title" placeholder="Titulo">
            </div>
            <div class="form-group">
              <h4>Imagen de portada</h4>
              <div class="custom-file">
                <input (change)="onFileChanged($event)" class="form-control form-control-sm" id="formFileSm" name="imagePost" [(ngModel)]="postModel.imagePost" type="file" accept=".jpg,.png,.svg,.webp">
              </div>
            </div>
            <div class="form-group">
              <h4>Descripción</h4>
              <angular-editor name="descriptionPost" [(ngModel)]="postModel.descriptionPost" [config]="config"></angular-editor>
            </div>
            <div class="form-group">
              <h4>Fecha</h4>
              <input name="datePost" type="datetime-local" class="form-control" required="required" [(ngModel)]="postModel.datePost" id="title">
            </div>
            <div class="form-group">
              <h4>Tags</h4>
              <label for="">Separa las etiquetas por una coma ","</label>
              <input name="tagsPost" type="text" class="form-control" required="required" [(ngModel)]="postModel.tagsPost" id="title" placeholder="Etiquetas">
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="registrar()">Publicar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>