<app-admin-header></app-admin-header>
    <div class="menuBt">
    <button type="button" class="btn btn-primary btRight" data-toggle="modal" data-target="#formAdd">Crear Usuario</button>
  </div>
  <div class="contentTable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Dirección</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dt of tableUsers" (click)="get(dt._id)" data-toggle="modal" data-target="#formEdit">
          <th scope="row">{{dt._id}}</th>
          <td>{{dt.nickUser}}</td>
          <td>{{dt.emailUser}}</td>
          <td>{{dt.addressUser}}</td>
          <td><img src="{{dt.imageUser}}" 
            onerror="this.onerror=null; 
            this.src='https://iili.io/Ai5zfn.png';" 
            style="max-height: 100px;"/></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 100%;">
      <div class="modal-content" style="width: 90%; margin: 0 auto;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Usuario</h5>
          <button type="button" class="close" (click)="limpiar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data">
            <div class="form-group">
                <h4>Usuario</h4>
                <input placeholder="Nombre de usuario" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="modelUser.nickUser" id="title">
            </div>
            <div class="form-group">
                <h4>Nombre Completo</h4>
                <input placeholder="Nombre completo" name="fullNameUser" type="text" class="form-control" required="required" [(ngModel)]="modelUser.fullNameUser" id="title">
            </div>
            <div class="form-group">
                <h4>Correo</h4>
                <input placeholder="Correo electrónico" name="emailUser" type="email" class="form-control" required="required" [(ngModel)]="modelUser.emailUser" id="title">
            </div>
            <div class="form-group">
              <h4>Rol</h4>
              <select name="rolUser" class="form-control" [(ngModel)]="modelUser.rolUser">
                <option [value]="'CLIENT'" [selected]="true">Cliente</option>
                <option [value]="'ADMIN'">Administrador</option>
              </select>
            </div>
            <div class="form-group">
                <h4>Contraseña</h4>
                <input placeholder="Contraseña" name="passwordUser" type="password" class="form-control" required="required" [(ngModel)]="modelUser.passwordUser" id="title">
            </div>
            <div class="form-group">
                <h4>Dirección</h4>
                <input placeholder="Dirección" name="addressUser" type="text" class="form-control" required="required" [(ngModel)]="modelUser.addressUser" id="title">
            </div>
            <div class="form-group">
                <h4>Télefono</h4>
                <input placeholder="Numero de teléfono" name="phoneUser" type="tel" class="form-control" required="required" [(ngModel)]="modelUser.phoneUser" id="title">
            </div>
            <div class="form-group">
              <h4>Imagen de portada</h4>
              <div class="custom-file">
                <input (change)="onFileChanged($event)" class="form-control form-control-sm" id="formFileSm" name="imagePost" type="file" accept=".jpg,.png,.svg,.webp">
              </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="registrar()">Publicar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiar()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="formEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 100%;">
      <div class="modal-content" style="width: 90%; margin: 0 auto;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
          <button type="button" class="close" (click)="limpiar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <h4>Usuario</h4>
                    <input placeholder="Nombre de usuario" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="modelUpdateUser.nickUser" id="title">
                </div>
                <div class="form-group">
                    <h4>Nombre Completo</h4>
                    <input placeholder="Nombre completo" name="fullNameUser" type="text" class="form-control" required="required" [(ngModel)]="modelUpdateUser.fullNameUser" id="title">
                </div>
                <div class="form-group">
                    <h4>Correo</h4>
                    <input placeholder="Correo electrónico" name="emailUser" type="email" class="form-control" required="required" [(ngModel)]="modelUpdateUser.emailUser" id="title">
                </div>
                <div class="form-group">
                  <h4>Rol</h4>
                  <select name="rolUser" class="form-control" [(ngModel)]="modelUpdateUser.rolUser">
                    <option [value]="'CLIENT'" [selected]="true">Cliente</option>
                    <option [value]="'ADMIN'">Administrador</option>
                  </select>
                </div>
                <div class="form-group">
                    <h4>Nueva Contraseña</h4>
                    <input placeholder="Contraseña" name="passwordUser" type="password" class="form-control" required="required" [(ngModel)]="modelUpdateUser.passwordUser" id="title">
                </div>
                <div class="form-group">
                    <h4>Dirección</h4>
                    <input placeholder="Dirección" name="addressUser" type="text" class="form-control" required="required" [(ngModel)]="modelUpdateUser.addressUser" id="title">
                </div>
                <div class="form-group">
                    <h4>Télefono</h4>
                    <input placeholder="Numero de teléfono" name="phoneUser" type="tel" class="form-control" required="required" [(ngModel)]="modelUpdateUser.phoneUser" id="title">
                </div>
                <div class="form-group">
                  <h4>Imagen de portada</h4>
                  <h6>Actual: <a href="{{modelUpdateUser.imageUser}}" target="_blank">{{modelUpdateUser.imageUser}}</a></h6>
                  <div class="custom-file">
                    <input (change)="onFileChanged($event)" class="form-control form-control-sm" id="formFileSm" name="imagePost" type="file" accept=".jpg,.png,.svg,.webp">
                  </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminar()">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiar()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>