<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        DC Audiovisuales</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-start bg-dark text-white text-center" data-bs-scroll="true" data-bs-backdrop="false"
    tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 250px;">
    <div class="offcanvas-header">
      <hr>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h5 class="text-center" id="offcanvasScrollingLabel" style="color: white;">DCAudiovisuales</h5>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" style="width: 100%;">
          <a routerLink="/home" class="nav-link text-white" aria-current="page">
            Inicio
          </a>
        </li>
        <li class="nav-item" style="width: 100%;">
            <a routerLink="/admin/users" class="nav-link text-white" aria-current="page">
              Usuarios
            </a>
        </li>
        <li class="nav-item" style="width: 100%;">
            <a routerLink="/admin/posts" class="nav-link text-white" aria-current="page">
              Publicaciones
            </a>
        </li>
        <li class="nav-item" style="width: 100%;">
            <a routerLink="/admin/events" class="nav-link text-white" aria-current="page">
              Eventos
            </a>
        </li>
        <li class="nav-item" style="width: 100%;">
            <a routerLink="/profile" class="nav-link text-white" aria-current="page">
              Perfil
            </a>
        </li>
        <li class="nav-item" style="width: 100%;">
            <a routerLink="/logout" class="nav-link text-white" aria-current="page">
              Salir
            </a>
        </li>
      </ul>
  
      <hr>
    </div>
  </div>
  