<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">DC Audivisuales</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-start bg-dark text-white text-center" data-bs-scroll="true" data-bs-backdrop="false"
    tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 250px;">
    <div class="offcanvas-header">
      <h5 class="text-center" id="offcanvasScrollingLabel">DC Audivisuales web</h5>
      <hr>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="client" class="nav-link text-white" aria-current="page">
            Inicio
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="home" class="nav-link text-white" aria-current="page">
              Eventos
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="home" class="nav-link text-white" aria-current="page">
              Perfil
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="../logout" class="nav-link text-white" aria-current="page">
              Salir
            </a>
        </li>
      </ul>
  
      <hr>
    </div>
  </div>
  