<app-admin-header></app-admin-header>
<div class="contentTable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of tableEvents" (click)="get(dt._id)" data-toggle="modal" data-target="#formEdit">
        <th scope="row">{{dt._id}}</th>
        <td>{{dt.nameEvent}}</td>
        <td>{{dt.statusEvent}}</td>
        <td>{{dt.typeEvent}}</td>
        <td>{{dt.dateEvent}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="formEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 100%;">
    <div class="modal-content" style="width: 90%; margin: 0 auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Evento</h5>
        <button type="button" class="close" (click)="limpiar()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <h4>Titulo</h4>
            <input name="nameEvent" type="text" class="form-control" required="required" [disabled]="true"  [(ngModel)]="eventUpdateModel.nameEvent" id="title" placeholder="Titulo">
          </div>
          <div class="form-group">
            <h4>Descripcion</h4>
            <textarea name="descriptionEvent" class="form-control" cols="30" rows="10" [disabled]="true" [(ngModel)]="eventUpdateModel.descriptionEvent"></textarea>
          </div>
          <div class="form-group">
            <h4>Tipo</h4>
            <input name="typeEvent" type="text" class="form-control" required="required" [disabled]="true" [(ngModel)]="eventUpdateModel.typeEvent" id="title" placeholder="Titulo">
          </div>
          <div class="form-group">
            <h4>Tipo del evento</h4>
            <div class="custom-file">
              <select name="statusEvent" class="form-control" [(ngModel)]="eventUpdateModel.statusEvent">
                <option [value]="'PENDIENTE'" [selected]="true">Pendiente</option>
                <option [value]="'ACEPTADO'" [selected]="true">Aceptado</option>
                <option [value]="'DENEGADO'" [selected]="true">Denegado</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <h4>Fecha</h4>
            <input name="dateEvent" type="datetime-local" class="form-control" required="required" [disabled]="true" [(ngModel)]="eventUpdateModel.dateEvent" id="title">
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editar()">Editar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminar()">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiar()">Cerrar</button>
      </div>
    </div>
    </div>
</div>